@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
  --primary-color: #a41c4c;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
}

body.dark {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #4372a59c;
  --box2-color: #e2c379a1;
  --box3-color: #9e80b9;
  --title-icon-color: #ccc;
}

.boxes .box1 {
  width: 100%;
  max-height: 400px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.boxes .box1 .form {
  display: flex;
  flex-direction: column;
  margin: 20px 50px 0px 50px;
  color: var(--text-color);
}

.boxes .box1 .form .feedback {
  color: var(--text-color);
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  height: 200px;
  border: solid 1px var(--border-color);
  background-color: var(--panel-color);
}

.box1 .form .formbutton {
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: var(--primary-color);
  cursor: pointer;
  width: 200px;
  margin-top: 30px;
  transition: all 0.2s ease;
}

.box1 .form .formbutton:hover {
  background-color: #a41c4cb2;
}
